@import "tailwindcss";

@theme {
  --color-primary: #1e40af;
  --color-secondary: #9333ea;
  --color-bg-white: #ffffff;
  --color-bg-black: #111111;
  --color-text-black: #111111;
  --color-text-gray: #888888;
  --color-text-white: #ffffff;
}
